<style>
  #shopify-section-{{ section.id }} {
    --section-products-per-row: {{ section.settings.mobile_products_per_row | times: 1 }};
  }

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} {
      --section-products-per-row: {{ section.settings.desktop_products_per_row | times: 1 }};
    }
  }
</style>

<section>
  <div class="container">
    <div id="header-wishlist" class="content-box content-box--large content-box--text-center content-box--center text-container" style="padding:30px 0px">
    </div>
    <product-facet section-id="{{ section.id }}" class="product-facet"> 
      <div id="facet-main" class="product-facet__main anchor" role="region" aria-live="polite">
        <product-list {% if settings.stagger_products_apparition %}stagger-apparition{% endif %} class="product-facet__product-list product-list anchor">
          <div id="wishlist-items-container">
            <p class="wishlist__loader">
              <div class="spinner">
                {%- render 'icon' with 'spinner', stroke_width: 3, width: 40, height: 40 -%}
              </div>
            </p>
          </div>
        </product-list>
      </div>
    </div>
  </div>
</section>

<script src="{{ 'shared-wishlist.js' | asset_url }}" async="async"></script>
<!-- Swym Custom Page CSS  -->
<style>
  button.swym-delete-btn.swym-nav.swym-nav-1.swym-is-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 15px;
    height: 15PX;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index : 1000;
  }
</style>

{% schema %}
  {
    "name": "Shared wishlist page",
    "class": "shopify-section--main-wishlist",
    "settings": [
      {
        "type": "select",
        "id": "mobile_products_per_row",
        "label": "Products per row (mobile)",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "min": 3,
        "max": 5,
        "id": "desktop_products_per_row",
        "label": "Products per row (desktop)",
        "default": 4
      }
    ]
  }
{% endschema %}